<html>

<head>
  <title>Account Approval</title>
</head>
<style>
  .username {
    text-transform: capitalize;
  }

  .buttonContent {
    display: flex;
    width: 100%;
  }

  .loginBtn {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background: green;
    padding: 12px;
    font-weight: 600;
    border: 5px solid #dcdcdc;
  }
</style>

<body>
  <span class="username">
    <h4>Dear {{parent_name}},</h4>
  </span>
    {{#if expired}}
    <p>Your child {{child_name}} admission has been expired</p>
    <p>Please renew the adminssion</p>
    {{else}}
    Your child {{child_name}} admission will expire on {{expiry_date}}
    {{/if}}
    <div>Thanks</div>
    <div>LCSH Team</div>

</body>

</html>